<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/elinuppstrom/Documents/Zoom/2021-02-16 10.15.08 Data Analytics - code along 3 68068335472/zoom_0.mp4</key>
	<data>
	Ym9va0QDAAAAAAQQMAAAAFxeRegt5ZLE+UOeVaQJcYHTTf39gl4uXTWv2B96jQODQAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAMAAAAAQEAAGVsaW51cHBzdHJvbQkA
	AAABAQAARG9jdW1lbnRzAAAABAAAAAEBAABab29tPQAAAAEBAAAyMDIxLTAyLTE2IDEw
	LjE1LjA4IERhdGEgQW5hbHl0aWNzIC0gY29kZSBhbG9uZyAzIDY4MDY4MzM1NDcyAAAA
	CgAAAAEBAAB6b29tXzAubXA0AAAYAAAAAQYAABAAAAAgAAAANAAAAEgAAABUAAAAnAAA
	AAgAAAAEAwAAddUJAAAAAAAIAAAABAMAANakDwAAAAAACAAAAAQDAADkpA8AAAAAAAgA
	AAAEAwAAFZ2sAAAAAAAIAAAABAMAABYghgEAAAAACAAAAAQDAABzkocBAAAAABgAAAAB
	BgAA0AAAAOAAAADwAAAAAAEAABABAAAgAQAACAAAAAAEAABBwu3vXE0mSBgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFAGXjoA
	AAAIAAAAAAQAAEHAgX2GmvnlJAAAAAEBAAA3MzkyOTlDRi02OUY1LTQxQjctQTg4OS0y
	NjdBNkQwMDdBMjgYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
	LwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAsAAAAAAAAAAFEAAAMAEA
	AAAAAAAQEAAAYAEAAAAAAABAEAAAUAEAAAAAAAACIAAALAIAAAAAAAAFIAAAnAEAAAAA
	AAAQIAAArAEAAAAAAAARIAAA4AEAAAAAAAASIAAAwAEAAAAAAAATIAAA0AEAAAAAAAAg
	IAAADAIAAAAAAAAwIAAAOAIAAAAAAAABwAAAgAEAAAAAAAARwAAAIAAAAAAAAAASwAAA
	kAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
